/* Melody Build based on TSW Flexed CSS
Author:      Tradesouthwest
Author URI:  https://tradesouthwest.com/
Description: Minimal size style sheet for flexed based projects. Has navigation up to three levels depth.
Version:     1.0.0
License:     GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Demo:        http://tswdev.com/public/twothreefour.html

== Contents ==
1. - DOM Elements
2. - Media Queries
============== */

/* ************************************************** 1. - DOM Elements
*/
[class^="mldyflx-"]{
    box-sizing: border-box;
	display: flex;
}
label + input,
label + textarea,
label + select {
	display: flex;
	flex-direction: column;
}
label {
	display: flex;
	margin-bottom: 8px;
}
.mldyflx-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.mldyflx-wide, 
.mldyflx-thirds, 
.mldyflx-thirds.joined, 
.mldyflx-half, 
.mldyflx-wide, 
.mldyflx-quarters {

	margin-left: 0;
	margin-right: 0;
}
.mldyflx-half:last-of-type,
	.mldyflx-wide:last-of-type,
	.mldyflx-thirds:last-of-type,
	.mldyflx-quartersf:last-of-type{
		margin-right: 0;
	}
/* ************************************************** 2. - Media Queries
*/
@media screen and ( min-width: 300px ) and ( max-width: 767px ) {
	.mldyflx-row {
		flex-direction: column; 
	}
	.mldyflx-wide, 
	.mldyflx-half,
	.mldyflx-thirds, 
	.mldyflx-thirds.joined,
	.mldyflx-quarters {
		margin-right: 0;
		width: 100%;
	}
}
@media screen and ( min-width: 768px ) {
	
	.mldyflx-row {
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
	}
	.mldyflx-wide, 
	.mldyflx-half,
	.mldyflx-thirds, 
	.mldyflx-thirds.joined,
	.mldyflx-quarters {

		padding: .67em;
		margin-left: 1px;
		margin-right: 1px;
    }
	.mldyflx-wide {
		width: 100%;
	}
	.mldyflx-half {
		width: 50%;
	}
	.mldyflx-thirds {
		width: 33.3333%;
	}
	.mldyflx-thirds.joined {
		width: 66.6666%;
	}
	.mldyflx-quarters {
		width: 25%;
	}
}
