/* mldyflx-tsw-theme-editor */
[class^="mldyflx-"]{
    box-sizing: border-box;
}
.mldyflx-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.boxed {
	border-width: 1px;
	border-style: solid;
	border-color: rgba( 50, 50, 50, .16);
	padding: 1em .5em;
	display: inherit;
	position: relative;
	z-index: 2;
}
.mldyflx-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.mldyflx-row:focus,
.mldyflx-row:focus-within{
	border: thin solid #ddd;
}
.mldyflx-wide, 
.mldyflx-thirds, 
.mldyflx-thirds.joined, 
.mldyflx-half, 
.mldyflx-wide, 
.mldyflx-quarters {
	margin-top: .5em;
	margin-bottom: .5em;
	display: inherit;
	border: thin solid #ddd;
	margin-left: auto;
	margin-right: auto;
}
.mldyflx-container .mldyflx-row.wide:last-child {
	margin-top: 0;
}
.mldyflx-wide {
	width: calc(100% - .5em);
}
.mldyflx-half {
	width: calc(50% - .5em);
}
.mldyflx-thirds {
	width: calc(33.33% - .5em);
}
.mldyflx-thirds.joined {
	width: calc( 66.66% - .5em);
}
.mldyflx-quarters {
	width: calc(25% - .5em);
}
